.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    width: 100%;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
}

.form-control input {
    border: 1px solid #8685b8;
    font: inherit;
    border-radius: 2px;
}

button {
    font: inherit;
    color: white;
    border: none;
    background: #3b38da;
    cursor: pointer;            
}

button:hover {
    background: #8685b8;
    color: white;
}