<%- include("includes/head.ejs") %> 

</head>
    <%- include("includes/nav.ejs") %> 
    <form action="/add-user" method="post">
        <input type="text" name="username">
        <button>Add User</button>
    </form>
<%- include("includes/end.ejs") %> 